.footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 213px;
  box-sizing: border-box;
  background-size: cover;
}

.socialNetworks {
  display: flex;
}
.socialNetworks img {
  margin: 0 25px;
}

.footer span {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 20px;
  color: #ffffff;
}
